{% extends 'index.html' %}
{% block content %}
	<!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>Login</h1>
					<nav class="d-flex align-items-center">
						<a href="{% url 'home' %}">Home<span class="lnr lnr-arrow-right"></span></a>
						<a href="{% url 'login' %}">Login</a>
					</nav>
				</div>
			</div>
		</div>
	</section>
	<!-- End Banner Area -->

	<!--================Login Box Area =================-->
	<section class="login_box_area section_gap">
		{% if request.GET.command == 'verification' %}
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="login_box_img">
						<img class="img-fluid" src="img/login.jpg" alt="">
						<div class="hover">
							<h4>New to our website?</h4>
							<p>There are advances being made in science and technology everyday, and a good example of this is the</p>
							<a class="primary-btn" href="{% url 'register' %}">Create an Account</a>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="login_form_inner">
						<h3>Check your email for activation link</h3>
						<p>Please check your email to activate your account.</p>
						Already verified? <a href="{% url 'login' %}">Login</a>
					</div>
				</div>
			</div>



		{% else %}

		<div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="login_box_img">
                        <img class="img-fluid" src="img/login.jpg" alt="">
						<div class="hover">
                            <h4>New to our website?</h4>
							<p>There are advances being made in science and technology everyday, and a good example of this is the</p>
							<a class="primary-btn" href="{% url 'register' %}">Create an Account</a>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
                    {% if messages %}
                        <div>
                    {% for message in messages %}
                    <div class="alert alert-danger" style="background-color: #f44336; color: white; padding: 12px; border-radius: 8px; text-align: center;">
                        {{ message }}
                    </div>
                    {% endfor %}
                    </div>
                    {% endif %}
                    <div class="login_form_inner">
						<h3>Forgot Password</h3>
						<form class="row login_form" method='POST' action="{% url 'forgotpassword' %}">
							{% csrf_token %}
							<div class="col-md-12 form-group">
								<input type="email" class="form-control" id="email" name="email" placeholder="email">
							</div>
							<div class="col-md-12 form-group">
								<button type="submit" value="submit" class="primary-btn">Continue</button>
								<a href="{% url 'login' %}">Got Password? Login</a>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		{% endif %}

		
	</section>
	<!--================End Login Box Area =================-->
{% endblock %}