{% extends "index.html" %}
{% load widget_tweaks %}
{% load static %}
{% block content %}
    <!-- Start Banner Area -->
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1>Blog Page</h1>
                    <nav class="d-flex align-items-center">
                        <a href="{% url 'home' %}">Home<span class="lnr lnr-arrow-right"></span></a>
                        <a href="{% url 'blog' %}">Blog</a>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- End Banner Area -->

    <!--================Blog Categorie Area =================-->
    <section class="blog_categorie_area">
        <div class="container">
            <div class="row">
                {% if categories %}
                {% for category in categories %}
                <div class="col-lg-4">
                    <div class="categories_post">
                        <img src="{{ category.image.url }}" alt="post">
                        <div class="categories_details">
                            <div class="categories_text">
                                <a href="{% url 'category-detail' category.slug %}">
                                    <h5>{{ category.name }}</h5>
                                </a>
                                <div class="border_line"></div>
                                <p>{{ category.description }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <div class="col-lg-12">
                    <div class="alert alert-warning" role="alert">
                        No categories available.
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </section>
    <!--================Blog Categorie Area =================-->

    <!--================Blog Area =================-->
    <section class="blog_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="blog_left_sidebar">
                        {% if blog_page %}
                        {% for blog in blog_page %}
                        <article class="row blog_item">
                            <div class="col-md-3">
                                <div class="blog_info text-right">
                                    <div class="post_tag">
                                        {% for tag in blog.tags.all %}
                                            {% if tag.name|lower == blog.category.name|lower  %}
                                            <a href="#" class="active">{{ tag.name }}</a>{% if not forloop.last %}, {% endif %}
                                            {% else %}
                                            <a href="#">{{ tag.name }}</a>{% if not forloop.last %}, {% endif %}
                                            {% endif %}
                                    
                                        {% endfor %}
                                    </div>
                                    <ul class="blog_meta list">
                                        <li><a href="#">{{ blog.author.username }}<i class="lnr lnr-user"></i></a></li>
                                        <li><a href="#">{{ blog.created_at|date:"d M,Y" }}<i class="lnr lnr-calendar-full"></i></a></li>
                                        <li><a href="#">{{ blog.views }} Views<i class="lnr lnr-eye"></i></a></li>
                                        <li><a href="#">{{ blog.comments.count }} Comments<i class="lnr lnr-bubble"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="blog_post">
                                    {% if blog.image %}
                                                <img src="{{ blog.image.url }}" alt="{{ blog.title }}">
                                    {% endif %}
                                    <div class="blog_details">
                                        <a href="{{ blog.get_absolute_url }}">
                                            <h2>{{ blog.title|title}}</h2>
                                        </a>
                                        <p>({{ blog.created_at|timesince }} ago)</p>
                                        <p>{{ blog.content|truncatewords:30 }}</p>
                                        <a href="{{ blog.get_absolute_url }}" class="white_bg_btn">View More</a>
                                    </div>
                                </div>
                            </div>
                        </article>
                        {% endfor %}
                        {% else %}
                        <div class="col-lg-12">
                            <div class="alert alert-warning" role="alert">
                                No blogs available.     
                            </div>
                        </div>
                        {% endif %}
                        <!-- Pagination -->
                         
                        <nav class="blog-pagination justify-content-center d-flex">
                        {% if blog_page.has_other_pages %}

                            <ul class="pagination">
                                {% if blog_page.has_previous %}
                                <li class="page-item">
                                    <a href="?page={{ blog_page.previous_page_number }}" class="page-link" aria-label="Previous">
                                        <span aria-hidden="true">
                                            <span class="lnr lnr-chevron-left"></span>
                                        </span>
                                    </a>
                                </li>
                                {% else %}
                                <li class="page-item disabled">
                                    <a href="#" class="page-link" aria-label="Previous">
                                        <span aria-hidden="true">
                                            <span class="lnr lnr-chevron-left"></span>
                                        </span>
                                    </a>
                                </li>
                                {% endif %}
                                {% for num in blog_page.paginator.page_range %}
                                {% if blog_page.number == num %}
                                <li class="page-item active"><a href="?page={{ num }}" class="page-link">{{ num }}</a></li>
                                {% else %}
                                <li class="page-item"><a href="?page={{ num }}" class="page-link">{{ num }}</a></li>
                                {% endif %}
                                {% endfor %}
                                {% if blog_page.has_next %}
                                <li class="page-item">
                                    <a href="?page={{ blog_page.next_page_number }}" class="page-link" aria-label="Next">
                                        <span aria-hidden="true">
                                            <span class="lnr lnr-chevron-right"></span>
                                        </span>
                                    </a>
                                </li>
                                {% else %}
                                <li class="page-item disabled">
                                    <a href="#" class="page-link" aria-label="Next">
                                        <span aria-hidden="true">
                                            <span class="lnr lnr-chevron-right"></span>
                                        </span>
                                    </a>
                                </li>
                                {% endif %}
                            </ul>
                        {% endif %}
                        </nav>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="blog_right_sidebar">
                        <aside class="single_sidebar_widget search_widget">
                            <form action="{% url 'blog' %}">
                                <div class="input-group">
                                 
                                    <input type="search" class="form-control" name="search" placeholder="Search Posts" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Search Posts'">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="submit"><i class="lnr lnr-magnifier"></i></button>
                                    </span>

                                    
                                </div><!-- /input-group -->
                            </form>
                            <div class="br"></div>
                        </aside>
                        <aside class="single_sidebar_widget author_widget">
                            {% if admin_user.profile.profile_picture %}
                                <img class="author_img rounded-circle"  src="{{ admin_user.profile.profile_picture.url }}" alt="Profile Picture">
                            {% else %}
                                <img class="author_img rounded-circle"  src="{% static 'blog/author.png' %}" alt="Default Picture">
                            {% endif %}
                            {% comment %} <img class="author_img rounded-circle" src="{{ admin_user.profile.profile_picture.url if admin_user.profile.profile_picture else static 'men-bg.png' }}" alt=""> {% endcomment %}
                            <h4>{{ admin_user.get_full_name|default:admin_user.username }}</h4>
                            <p>{{ admin_user.profile.bio|default:"No bio available." }}</p>
                            <div class="social_icon">
                                <a href="{{ contact.facebook }}"><i class="fa fa-facebook"></i></a>
                                <a href="{{ contact.twitter }}"><i class="fa fa-twitter"></i></a>
                                <a href="{{ contact.youtube }}"><i class="fa fa-youtube"></i></a>
                                <a href="{{ contact.instagram }}"><i class="fa fa-instagram"></i></a>
                            </div>
                            <p>Boot camps have its supporters andit sdetractors. Some people do not understand why you
                                should have to spend money on boot camp when you can get. Boot camps have itssuppor
                                ters andits detractors.</p>
                            <div class="br"></div>
                        </aside>
                        <aside class="single_sidebar_widget popular_post_widget">
                            <h3 class="widget_title">Popular Posts</h3>
                            {% for blog in popular_blogs %}
                            <div class="media post_item">
                                <img src="{{ blog.image.url }}" style="width: 60px; height: 60px;" alt="post">
                                <div class="media-body">
                                    <a href="{{ blog.get_absolute_url }}">
                                        <h3>{{ blog.title }}</h3>
                                    </a>
                                    <p>{{ blog.created_at|timesince }} ago</p>
                                </div>
                            </div>
                            {% endfor %}
                           
                            <div class="br"></div>
                        </aside>
                        <aside class="single_sidebar_widget ads_widget">
                            <a href="#"><img class="img-fluid" src="{% static "img/blog/add.jpg" %}" alt=""></a>
                            <div class="br"></div>
                        </aside>
                        <aside class="single_sidebar_widget post_category_widget">
                            <h4 class="widget_title">Post Catgories</h4>
                            <ul class="list cat-list">
                                {% for category in categories_with_count %}
                                <li>
                                    <a href="{% url 'category-detail' category.slug %}" class="d-flex justify-content-between">
                                        <p>{{ category.name }}</p>
                                        <p>{{ category.blog_count }}</p>
                                    </a>
                                </li>
                                {% endfor %}
                       
                            </ul>
                            <div class="br"></div>
                        </aside>
                        <aside class="single-sidebar-widget newsletter_widget">
                            <h4 class="widget_title">Newsletter</h4>
                            <p>
                                Here, I focus on a range of items and features that we use in life without
                                giving them a second thought.
                            </p>
                            <form method="POST" action="{% url 'blog' %}">
                                {% csrf_token %}
                                <div class="form-group d-flex flex-row">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text"><i class="fa fa-envelope" aria-hidden="true"></i></div>
                                        </div>
                                        {% render_field form.email class="form-control" placeholder="Enter your email" %}
                                        {% comment %} <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Enter email"
                                            onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email'"> {% endcomment %}
                                    </div>
                                    <button type="submit" class="btn btn-warning">
                                        <i class="fa fa-long-arrow-right"></i>
                                    </button>
                                </div>
                            </form>
                            <p>You can unsubscribe at any time</p>

                            {% if message %}
										  <div class="alert alert-success mt-3">{{ message }}</div>
							{% endif %}
                            <div class="br"></div>
                        </aside>
                        <aside class="single-sidebar-widget tag_cloud_widget">
                            <h4 class="widget_title">Tag Clouds</h4>
                            <ul class="list">
                                {% for category in categories_with_count %}
                                    <li><a href="{% url 'category-detail' category.slug %}">{{ category.name }}</a></li>
                                {% endfor %}
                            </ul>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================Blog Area =================-->
    {% endblock content %}